name: Deploy Docker Container
on:
 push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull Docker image
        run: |
          docker pull kangotrex/redis:latest

      - name: Run Docker container
        run: |
          docker run -d --name redis-container -p 6379:6379 kangotrex/redis:latest
