name: Build and Deploy Redis

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    name: Build Docker Image & Push to Docker Hub
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t kangotrex/redis:latest .

      - name: Push Docker image
        run: docker push kangotrex/redis:latest

  deploy_to_runner:
    name: Deploy on Rocky Linux Runner
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull Docker image
        run: |
          docker pull kangotrex/redis:latest
      - name: Run Docker container
        run: |
          docker run -d --name redis-container -p 6379:6379 --security-opt seccomp=unconfined kangotrex/redis:latest
