name: Deploy with Docker Compose
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      #- name: Pull Docker image
      #  run: |
      #    docker pull tresorzahhabib/redis:latest
      - name: Navigate to project folder
        run: cd /home/tresor/actions-runner1/_work/redis/redis
      - name: Pull latest images from compose
        run: |
          cd /home/tresor/actions-runner1/_work/redis/redis
          docker compose pull
      - name: Recreate and start containers
        run: |
          cd /home/tresor/actions-runner1/_work/redis/redis
          docker compose up -d --remove-orphans
